<header class="c-page__header">
  <h1>{{ site.title}}</h1>
  <code>{{ site.description }}</code>
  <p style="font-style: italic; margin-top: 1.5rem;">September 7th, 2018 at 6am</p>
  {% if page.title == 'Home' %}
    <a class="button header-cta" href="/registration">Sign me up!</a>
  {% else %}
    <a class="home-button" href="/"> < Home</a>
  {% endif %}
<!--   <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span
          class="u-separate"></span> <a href="{{ "/projects/" | prepend:
          site.baseurl }}">Projects</a><span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a><span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p> -->
</header>
